
<div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-dark border-right p-3" id="sidebar">
        <h3 class="text-ligth">Gifs-App</h3>
        <hr class="text-white">
        <div class="list-group list-reset">
            <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
        </div>
    </div>
    <!-- End sidebar -->

    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h5 class="text-center">Buscar</h5>
                <input type="text" class="form-control" placeholder="Busca tus gifs favoritos 🔍 ...">
                
            </div>
        </div>
        <hr>
        <div class="row p-3">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam commodi aliquid explicabo reprehenderit nihil perferendis quos voluptates maxime. Rem ex quisquam minus saepe quo ut vel repudiandae velit debitis nihil!
            </div>
        </div>
    </div>
</div>